/* Top level styling */

.taffy-window * {
	/*
		This removes any existing styling from UI elements. Taffybar will not
		cohere with your gtk theme.
	*/
	all: unset;

	font-family: "Dejavu Sans", sans-serif;
	font-size: 11pt;
	color: white;
}

.taffy-box {
    background-color: black;
}

.contents {
	padding-right: 1px;
	padding-left: 1px;
}

/* Workspaces styling */

.workspace-label {
	padding-right: 2px;
	padding-left: 1px;
	font-size: 12pt;
}

.active .contents {
    box-shadow: inset 0 3px whitesmoke;
}

.visible .contents {
	box-shadow: inset 0 3px dimgray;
}

.contents {
    transition: box-shadow .5s;
}

/* This gives space for the box-shadow (they look like underlines) that follow.
   This will actually affect all widgets, (not just the workspace icons), but
   that is what we want since we want the icons to look the same. */
.auto-size-image, .sni-tray {
	padding-top: 3px;
	padding-bottom: 3px;
}

.window-icon-container:not(.inactive) .window-icon {
	padding-left: 1px;
	padding-right: 1px;
    /* for windows without icons */
    min-width: 10pt;
}

.sni-tray .tray-icon-image {
	padding-left: 1px;
	padding-right: 1px;
}

.window-icon-container.active {
	box-shadow: inset 0 -3px whitesmoke;
}

.window-icon-container.urgent {
	box-shadow: inset 0 -3px tomato;
}

.window-icon-container {
	transition: box-shadow .5s;
}

.window-icon-container.minimized .window-icon {
	opacity: .5;
}

.window-icon {
	transition: opacity .5s;
}

.windows > * {
    color: lime;
}

/* Menu styling */

/* The ".taffy-window" prefixed selectors are needed because if they aren't present,
   the top level .Taffybar selector takes precedence */

.taffy-window menuitem:hover, menuitem:hover {
	background-color: midnightblue;
}

.graph > * {
    color: #4863A0;
}
