
#workspaces {
	padding: 0 0px;
	margin: 0 0px;
}

window#waybar {
	background: black;
	color: white;
}

#custom-smenu,
#custom-okb,
#custom-windown,
#custom-winright,
#custom-splitv,
#custom-splith,
#custom-mvws_prev,
#custom-gows_prev,
#custom-gows_next,
#custom-mvws_next,
#sway-mode,
#custom-ebc_refresh,
#custom-blc_down,
#custom-blc_up,
#custom-blw_down,
#custom-blw_up,
#backlight-slider,
#idle_inhibitor,
#battery,
#custom-kill {
	color: #ffffff;
}

#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-size: 20px;
  border: none;
  box-shadow: none;
}

#backlight-slider.cool slider {
}

#backlight-slider.warm slider {
}

#backlight-slider trough {
  min-height: 10px;
  min-width: 120px;
  border-radius: 5px;
  background-color: dimgrey;
}

#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: white;
}
